<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true" throwExceptions="true">

  <targets>
    
  <target name="FileLog" xsi:type="File"
          fileName="${basedir}/Test_logfile.csv">
    <layout xsi:type="CSVLayout" delimiter="Comma">
      <column name="Date" layout="${longdate}" />
      <column name="Level" layout="${log-level}" />
      <column name="Message" layout="${message}" />
      <column name="Exception" layout="${exception:format=tostring}" />
      <column name="Data" layout="${event-context:item=data}"/>
    </layout>
  </target>


  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="FileLog" />
  </rules>
  
</nlog>